<template>
  <div class="row">
    <div class="col">
      <div class="alert alert-info" v-show="!products.length">
        Sú carro de compras esta vacio <br>
        <router-link to="/">ir a la tienda <i class="fa fa-shopping-cart"></i></router-link>
      </div>
      <table class="table" v-show="products.length" >
        <thead>
          <tr>
            <th scope="col">Producto </th>

            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">acción</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products" >
            <td><img :src="product.image" class="img-thumbnail" width="200" /></td>

            <td style="padding-top:2em">{{ product.quantity }}</td>
            <td style="padding-top:2em">{{ product.price }}</td>
            <td style="padding-top:2em">
                <a href="#" @click='removeToCart(product)'class="text-info">
                  <i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-6" v-show="products.length">
        <div class="card-header">
          <h5 class="card-title">Total = ${{ total }}</h5>
        </div>
      </div>
      <div class="col-md-6" v-show="products.length">
        <button @click='checkout' type="button" class="btn btn-info col-12">Relizar Pago</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      products: 'cartProducts'
    }),
    total () {
      return this.products.reduce((total, p) => {
        return total + p.price * p.quantity
      }, 0)
    }
  },
  methods: {
    ...mapActions(['removeToCart']),
    checkout(){
     alert('El total de su compra es: $' + this.total)
    }
  }

}

</script>

<style lang="scss">

</style>
