<template>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

		<button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#menu-store" aria-controls="menu-store" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

	  <div class="collapse navbar-collapse" id="menu-store">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
					<router-link to='/' class="nav-link" >
	        Zapatillas
					</router-link>
	      </li>
	    </ul>
		</div>

		<!-- logo -->
		<div class="mr-lg-5">
			<router-link to='/' class="nav-link" >
				<img src="../assets/logo.png" width="80px"/>
      </router-link>
		</div>


		<!-- right menu -->
		<div class="float-right mr-lg-4 mr-md-2">
			<a href="#" class="text-dark">
				<i class="fa fa-heart fa-2x" aria-hidden="true"></i>
			</a>&nbsp;&nbsp;
		  <router-link to='/cart' class="text-dark" >
				<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
				({{itemsInCart}})
			</router-link>
		</div>
	</nav>
</template>

<style lang="scss">
</style>

<script>
import { mapGetters } from 'vuex'

export default {
	computed: {
		itemsInCart(){
			let cart = this.$store.getters.cartProducts;
			return cart.reduce((accum, item) => accum + item.quantity, 0)
		}
	}
}
</script>
