<template>
	<div class="row" style="margin-top:1em; padding-bottom:1em;" id="products">
		<div v-for="product in jsonProducts" track-by="id" class="col-md-3 col-sm-12 p-md-4">
			<div class="card">
				  <img class="card-img-top" :src="product.otherimages">
				  <div class="card-body">
				    <h5 class="card-title">{{product.brand}}</h5>

						<div class="card-text text-secondary">
							<p class="float-left">
								{{product.productname}}<br>
						 	  <span class="size-12">
									Vendido y entregado: <span class="df-color">{{product.brand}}</span>
								</span>
						  </p>
							<i class="fa fa-heart-o fa-2x float-right" aria-hidden="true"></i>
						</div>

						<div class="card-text" style="display:inline-block; border-top: 1px solid #ccc;">
							<strong class="size-12 text-secondary">TALLE:</strong>
							<div class="scrolling-wrapper">
								<div class="numberCircle" v-for="size in product.size_convertion_table.values">
								  {{ size.Talle }}
								</div>
							</div>
						</div>
						<p align="center">
							<i class="text-secondary fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
							<i class="text-secondary fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
							<i class="text-secondary fa fa-whatsapp" aria-hidden="true"></i>
						</p>
						<strong class="size-12 text-secondary">PRECIO:</strong>
						<p class="text-dark">${{ product.originalprice}} USD</p>
					</div>
					<div class="card-text">
						<button @click='addToCart(product)' type="button" class="btn btn-info col-12">Agregar al carro</button>
					</div>
					<!-- end first body -->
					<div class="card-header">
						<a class="card-link" data-toggle="collapse" href="#description">
							<strong class="text-dark">Descripción</strong>
							<span class="float-right text-dark">
								<i class="fa fa-sort" aria-hidden="true"></i>
							</span>
						</a>
					</div>
					<div id="description" class="collapse" data-parent="#products">
						<div class="card-body">
							{{ product.description }}
						</div>
					</div>

					<div class="card-header">
						<a class="card-link" data-toggle="collapse" href="#details">
							<strong class="text-dark">Detalle del producto</strong>
							<span class="float-right text-dark">
								<i class="fa fa-sort" aria-hidden="true"></i>
							</span>
						</a>
					</div>

					<div id="details" class="collapse show" data-parent="#products">
						<div class="card-body">
							Lorem ipsuem ...
						</div>
					</div>


			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'app',
  computed: mapGetters({
		jsonProducts: 'jsonProducts',
    length: 'getNumberOfProducts'
  }),
  methods: mapActions([
    'addToCart'
  ]),
	mounted() {
	  //do something after mounting vue instance
	  //console.log(this.jsonProducts.products);
	}
}
</script>

<style lang="scss">
.df-color{
	color: #00c4ae !important;
}

.scrolling-wrapper {
	padding-bottom: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.numberCircle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 4px;
	padding-top:8px;
  background: #EEE;
  color: #666;
  text-align: center;
	display: inline-block;
	margin-left: 1em;
	margin-top:0.50em;
	margin-bottom: 0.50em;
}

.size-14{
	font-size: 14px !important;
}
.size-12{
	font-size: 12px !important;
}
.size-10{
	font-size: 10px !important;
}
.size-8{
	font-size: 8px !important;
}

.card-text{
	width: 100%;
}
</style>
