<template>
  <div id="app">
    <nav-bar></nav-bar>
    <div class="container-fluid">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'

export default {
  name: 'app',
  components: {
  	NavBar
  },
  data () {
    return {}
  }
}
</script>
